body {
  font-family: 'Signika', sans-serif;
  font-weight: 400;
  position: relative;
}

h1,h2, h3, h4, .navbar-default .navbar-nav li a, .navbar-default .navbar-nav>li>a:focus {
  color: #ffa400;
  font-family: 'Chewy', cursive;
  font-weight: 400;
}

/* nav section */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
  background-color: transparent;
}

.navbar-default{
  background: #ffffff;
  border: none;
  margin: 0;
  padding: 0;
}

.navbar-default .navbar-brand {
  color: #ffa400;
  font-size: 40px;
  line-height: 35px;
}

.navbar-default .navbar-nav li a {
  line-height: 35px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
  color: #555;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border: none;
  padding-top: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #ffa400;
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: transparent }

/* about section */
.padding-bottom-10
{
  padding-bottom: 10px;
}
.img-bordered
{
  border: 2px solid #f2f2f2;
  padding: 14px;
}

/* gallery section */
.main-light-gray-bg {
  background: #f9f9f9;
}

.gallery-wrapper {
  background: #ffffff;
  margin-top: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.gallery-wrapper:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.gallery-des {
  padding: 0 20px 14px 20px;
}

.gallery-img {
  margin: 0 auto;
}

/* media queries to handle responsiveness */
@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

@media only screen and (max-width:360px) {
  .navbar-default .navbar-brand { padding-top: 6px; }
  .img-about { margin-top: 40px; }
}

@media only screen and (max-width: 768px) {
 .navbar-default .navbar-brand {
  font-size: 35px;
  padding-top: 10px;
}
}
